.logo {
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__studio {
  color: #000000;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0px;
}
.logo2 {
  color: var(--font-color);
}
